<h4>Was interessiert dich auf der Biofach?</h4>
<div class="ui-g">
  <div
    class="ui-g-4"
    *ngFor="let text of preferences"
    style="min-height: 60px;"
  >
    <mat-card
      style="min-height: 100%;text-align: center; vertical-align: middle"
      [ngStyle]="{
        'background-color': clickedItems[text] ? 'lightblue' : 'white'
      }"
      (click)="clicked(text)"
      >{{ text }}</mat-card
    >
  </div>
</div>
<div style="text-align: right; margin-top: 20px;">
  <button mat-raised-button (click)="done()">Bestätigen</button>
</div>
