<div class="ui-g" style="margin: 0 !important;padding: 0 !important;">
  <div class="ui-g-4" style="text-align: left;font-size: 1.5em;">
    <i class="material-icons" style="color:lightgrey; font-size: 1.5em;">
      chevron_left
    </i>
    <i class="material-icons" style="color:red; font-size: 1.5em;">
      highlight_off
    </i>
  </div>
  <div class="ui-g-4" style="text-align: center;font-size: 1.5em;">
    <i class="material-icons" style="color: green; font-size: 1.5em;">
      favorite
    </i>
  </div>
  <div class="ui-g-4" style="text-align: right;font-size: 1.5em;">
    <i class="material-icons" style="color: yellowgreen;font-size: 1.5em;">
      star_border
    </i>
    <i class="material-icons" style="color:lightgrey; font-size: 1.5em;">
      chevron_right
    </i>
  </div>
  <div
    class="ui-g-12"
    style="text-align: center;font-size: 1.5em;margin: 0 !important;padding: 0 !important;"
  >
    <i
      class="material-icons"
      style="color: lightgrey; font-size: 1.5em;margin: 0 !important;padding: 0 !important;"
    >
      expand_more
    </i>
  </div>
</div>
