<h4>Deine persönliche Tour durch die Biofach</h4>
<h6 *ngIf="filter(exhibitors).length <= 0">
  Keine Einträge in deiner Likelist
</h6>
<mat-list>
  <mat-list-item *ngFor="let ex of filter(exhibitors)">
    <mat-icon
      matListIcon
      *ngIf="ex.like === LIKE.LIKE"
      style="color: yellowgreen;"
      >star_border</mat-icon
    >
    <mat-icon
      matListIcon
      *ngIf="ex.like === LIKE.SUPERLIKE"
      style="color: green;"
      >favorite</mat-icon
    >
    <h3 matLine>{{ ex.name }} ({{ ex.hallPosition }})</h3>
    <p matLine *ngIf="ex.like === LIKE.SUPERLIKE">
      <span>Termin: {{ ex.time }} bei {{ ex.ansprechpartner }} </span>
    </p>
  </mat-list-item>
</mat-list>
