<header>
  <img src="/assets/header.png" width="100%" />
</header>

<angular-dating
  *ngIf="state === STATE.DATING"
  [exhibitors]="filteredExhibitores"
  (endSwipe)="goToResult($event)"
></angular-dating>

<angular-result
  *ngIf="state === STATE.RESULT"
  [exhibitors]="exhibitors"
></angular-result>

<angular-preferences
  *ngIf="state === STATE.PREFERENCES"
  (doneEdit)="goToDating($event)"
></angular-preferences>

<p-toast position="center" key="c" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{ message.summary }}</h3>
      <p>{{ message.detail }}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button
          type="button"
          (click)="closeMessage()"
          pButton
          label="OK"
          class="ui-button-success"
        ></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<footer><span style="color: orangered">Match</span> the Mingle</footer>
