.example-full-width {
  width: 100%;
}

hr {
  border: 1px solid #e5e5e5;
}

figure {
  width: 100%; /*container-width*/
  overflow: hidden; /*hide bounds of image */
  margin: 0; /*reset margin of figure tag*/
}
figure img {
  display: block; /*remove inline-block spaces*/
  width: 100%; /*make image streatch*/
  margin: -21.875% 0;
}
