<div [hidden]="showDialog">
  <h5>{{ exhibitors.length }} Austeller gefunden</h5>
  <mat-card
    class="example-card"
    [@cardAnimator]="animationState"
    (@cardAnimator.done)="resetAnimationState()"
    (swipeleft)="startAnimation('slideOutLeft'); setstatus(like.NOTLIKE)"
    (swiperight)="startAnimation('slideOutRight'); setstatus(like.LIKE)"
    (swipeup)="startAnimation('slideOutTop'); setstatus(like.SUPERLIKE)"
    (swipedown)="startAnimation('flipOutY'); setstatus(like.SUPERLIKE)"
  >
    <mat-card-content>
      <div class="ui-g">
        <div class="ui-g-4">
          <img
            src="/assets/{{ exhibitors[position].pic }}"
            style="width: 100px; margin-right: 15px;"
            width="100px"
          />
        </div>
        <div class="ui-g-8" style="vertical-align: middle">
          <h2 style="margin-left: 15px;">
            {{ exhibitors[position].name }}
          </h2>
        </div>
      </div>
      <hr />
      <figure *ngIf="exhibitors[position].bild1">
        <img
          mat-card-image
          src="/assets/{{ exhibitors[position].bild1 }}"
          style="margin-top: 10px;"
        />
      </figure>
      <div class="ui-g" style="color: lightgrey; font-size: 12px;">
        <div
          class="ui-g-2"
          *ngFor="let i of exhibitors[position].bild1Interessen"
        >
          {{ i }}
        </div>
      </div>
      <figure *ngIf="exhibitors[position].bild2">
        <img
          mat-card-image
          src="/assets/{{ exhibitors[position].bild2 }}"
          style="margin-top: 10px;"
        />
      </figure>
      <div class="ui-g" style="color: lightgrey; font-size: 12px;">
        <div
          class="ui-g-2"
          *ngFor="let i of exhibitors[position].bild2Interessen"
        >
          {{ i }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <angular-swipeinfo></angular-swipeinfo>
</div>
<div [hidden]="!showDialog">
  <h1>
    <i class="material-icons" style="color: green; margin-right: 20px">
      favorite
    </i>
    Super LIKE
  </h1>
  <form class="example-form">
    <div class="example-full-width">
      <mat-checkbox class="example-full-width"
        >Push Nachrichten erhalten</mat-checkbox
      >
    </div>
    <div class="example-full-width">
      <mat-checkbox class="example-full-width"
        >Bitte um Kontakt per Telefon</mat-checkbox
      >
    </div>
    <div class="example-full-width">
      <mat-checkbox class="example-full-width"
        >Bitte um Termin am Stand</mat-checkbox
      >
    </div>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Zeitraum wählen" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="Kommentar"
        style="height: 200px"
      ></textarea>
    </mat-form-field>
  </form>

  <div style="text-align: right">
    <button mat-raised-button (click)="hidePopup()">Absenden</button>
  </div>
</div>
